<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - Portfolio</title>
    <link rel="stylesheet" href="../styles/about.css">
</head>

<body>
    <header>
        <div class="container">
            <h1>Tyler Webster</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="about" class="about">
        <div class="container">
            <h2>About Me</h2>
            <div class="abme">
                <div class="intro">
                    <span>Welcome to my portfolio! I am a Software engineer I am deeply inspired by the idea of waking up
                        with
                        an idea, strategically crafting a plan, and bringing it to life. The thrill of creation fuels my
                        passion, and I am committed to continuously learning and honing new skills throughout my life's
                        journey.

                        Being part of a collaborative team with a shared vision and a singular objective is immensely
                        gratifying to me. I thrive in environments where collective efforts propel us toward a common
                        goal,
                        fostering synergy and accomplishment.
                    </span><span class="conclusion">
                    As a software engineer, I am constantly challenged to push the boundaries of my problem-solving
                    abilities. The rush of dopamine I experience when grappling with a complex issue, only to resolve
                    it, is unparalleled. Each obstacle I encounter is an opportunity for growth.

                    In essence, I am driven by the endless possibilities of creation, the power of teamwork, and the
                    never ending pursuit of overcoming obstacles in pursuit of excellence.</span>
                </div>
                <div> <img
                        src="../images/port 3d.webp"
                        alt=" picture of me"></div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 Tyler Webster. All rights reserved.</p>
        </div>
    </footer>

    <!-- <script src="scripts.js"></script> -->
</body>

</html>
